{% liquid
assign stub = trmnl.plugin_settings.custom_fields_values.api_token == "stub" or trmnl.plugin_settings.custom_fields_values.api_token == ""
assign channels = trmnl.plugin_settings.custom_fields_values.channels
assign time_format = trmnl.plugin_settings.custom_fields_values.time_format | default: "24"
assign show_title_bar = trmnl.plugin_settings.custom_fields_values.show_title_bar | default: "true"
unless stub
assign now = trmnl.system.timestamp_utc
assign offset = trmnl.user.utc_offset
assign locale = trmnl.user.locale
else
assign first_channel_response = IDX_0
assign first_item_date = first_channel_response.data[0].start | date: "%Y-%m-%d"
assign target_time = first_item_date | append: " 22:00:00"
assign now = target_time | date: "%s" | plus: 0
assign offset = 28800
assign locale = "en"
assign time_format = "12"
endunless
%}

{% template item_template %}
{% liquid

if emphasis == 2
assign shade_gray = "text--gray-20"
elsif emphasis == 1
assign shade_gray = "text--gray-40"
endif

assign adjusted_time = item.start | date: "%s" | plus: offset | date: "%Y-%m-%d %H:%M:%S"
%}
<div class="item {% if emphasis %}item--emphasis-{{emphasis}}{% endif %}">
  <div class="meta"></div>
  <div class="content">
    <span class="label {{shade_gray}}">
      {% if time_format == "12" %}
      {{ adjusted_time | l_date: "%I:%M %p", locale }}
      {% else %}
      {{ adjusted_time | l_date: "%H:%M", locale }}
      {% endif %}
    </span>
    <div class="title title--small gap {{shade_gray}}">{{ item.title }}</div>
    {% if item.sub_title %}
    <div class="description {{shade_gray}}"><i>{{item.sub_title}}</i></div>
    {% endif %}
    {% if item.description and description %}
    <div class="description" data-clamp="3">{{ item.description }}</div>
    {% endif %}
  </div>
</div>
{% endtemplate %}